<%- if controller_name != 'sessions' %>
  <div class="login-resources">
    <%= link_to "Log in", new_session_path(resource_name) %><br />
  </div>
  
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="col-lg-12 no-pdd">
    <div class="checky-sec">
      <div class="fgt-sec">
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
      </div>
    </div>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="col-lg-12 no-pdd">
    <div class="checky-sec">
      <div class="fgt-sec">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </div>
    </div>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>
