<div class="col-lg-12">
    <%=
        form.text_area :content,
        class: "form-control",
        placeholder: t('input.whats_happening'),
        maxlength: 140,
        rows: 3,
        cols: 100,
        required: false
    %>
    <br>
    <!--<small class="form-text text-muted" style="float:left;" >
        <span id="remainingCharacter">140</span>
        Character(s) Remaining
    </small>
    -->
</div>